@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=Poly&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F0E7D5;
    --foreground:  #F8F3EA;
    --ink: #212842;
    --accent: #AB92BF;
}

/* Base page look */
html, body {
    background: var(--background);
    color: var(--ink);
}

.font-brand { font-family: 'Poly', serif; }
.font-ui    { font-family: 'Outfit', sans-serif; }

/* Color utilities */
.text-ink        { color: var(--ink); }
.bg-page         { background: var(--background); }
.bg-light        { background: var(--foreground); }
.bg-accent        { background: var(--accent);}
.bg-dark        { background: var(--ink); }
.bg-accent:hover    { background: #C0AECF; }
.border-ink      { border-color: var(--background); }
.border-bg { border-color: var(--background);}
.checkbox-ink { accent-color: var(--ink); }
.hover-accent:hover { color: var(--accent); }

